@example:registry=https://us-central1-npm.pkg.dev/coleleah-sofialeon/blog-repo/
//us-central1-npm.pkg.dev/coleleah-sofialeon/blog-repo/:_authToken=""
//us-central1-npm.pkg.dev/coleleah-sofialeon/blog-repo/:always-auth=true
